.about {
    padding: 62px 0;
}

.about__title {
    max-width: 700px;
    font-size: 40px;
    font-weight: 400;
    text-transform: uppercase;
    margin-bottom: 24px;
}

.about__description {
    max-width: 700px;
    line-height: 1.5;
    margin-bottom: 72px;
}

.about__list {
    display: grid;
    grid-template-columns: repeat(auto-fit, 384px);
    gap: 24px;
}

.about__item {
    padding: 6px 0 6px 96px;
    background-position: left;
    background-repeat: no-repeat;
    background-size: 80px;
    min-height: 80px;
}

.about__item_icon_top {
    background-image: url(../img/icon1_top.svg);
}

.about__item_icon_master {
    background-image: url(../img/icon2_master.svg);
}

.about__item_icon_garant {
    background-image: url(../img/icon3_garant.svg);
}

.about__item-title {
    margin-bottom: 8px;
    font-size: 22px;
    text-transform: uppercase;
    font-weight: 400;
}

.about__item-description {
    line-height: 1.3;
}

@media(max-width: 1024px) {
    .about__description {
        margin-bottom: 46px;
    }

    .about__list {
        grid-template-columns: repeat(auto-fit, 290px);
        column-gap: 29px;
    }

    .about__item {
        padding-top: 96px;
        padding-left: 0;
        background-position: top left;
    }
}

@media(max-width: 768px) {
    .about {
        padding: 40px 0;
    }

    .about__title {
        font-size: 32px;
    }

    .about__list {
        grid-template-columns: repeat(auto-fit, 320px);
        column-gap: 29px;
    }

    .about__item {
        padding-top: 0;
        padding-left: 96px;
        background-position: left;
    }

    .about__item-title {
        font-size: 16px;
        margin-bottom: 24px;
    }

    .about__item-description {
        margin-bottom: 32px;
    }
}

@media(max-width: 560px) {
    .about {
        padding: 32px 0;
    }

    .about__title {
        font-size: 20px;
        margin-bottom: 16px;
    }

    .about__description {
        font-size: 12px;
    }

    .about__list {
        grid-template-columns: minmax(272px, 1fr);
    }

    .about__item {
        padding-left: 72px;
        min-height: 64px;
        background-size: 64px;
    }

    .about__item-description {
        font-size: 12px;
    }
}